%p
  This is a demonstration application for serving images with 
  %a{href:'https://github.com/markevans/dragonfly/'} Dragonfly
  for dynamic resizing and cropping of images. 
%p 
  See the
  %a{href: "https://github.com/local-ch/dragonfly-demo"} documentation for more details.

%h2 Search for entries
%fieldset
  = haml :search

