%p
  This is a demonstration application for serving images with 
  %a{href:'https://github.com/markevans/dragonfly/'} Dragonfly
  for dynamic resizing and cropping of images.

%h2 Search for entries
%fieldset
  = haml :search

