:css
  .item{
    float:left;
    width: 160px;
    height: 160px;
  }
  .tiny{
    font-size: 8px;
  }
  
Results
- @results.listings.each do |listing|
  .item
    - logo = listing.main_entry.content_ads.try(:logo)
    - if logo
      - src = logo.image.original.location
      - src = "http://bin.staticlocal.ch/#{src}" unless src.match(/^http/)
      %a{href: src}
        %img{src: @app.fetch_url(src).process(:thumb, '70x70').url}
      %br
      %p= listing.main_entry.name
      %p.tiny= listing.entity_id
      