:css
  .item{
    float:left;
    width: 160px;
  }
  
Results
- @results.listings.each do |listing|
  .item
    - logo = listing.main_entry.content_ads.try(:logo)
    - if logo
      - src = logo.image.original.location

      %img{src: @app.fetch_url(src).process(:thumb, '150x150').url}
      %br
      %p= listing.main_entry.name
      